<!DOCTYPE html>
<html lange="en" dir="ltr">
    <head>
        <title>Tekens</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="ui-x-compatible" content="ie-edge">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="icon" href="">
    </head>
    <body>