<%- include ("partials/header") -%>
        <section class="admin" id="admin">
            <div class="textarea">
                <h1>Tekens admin page</h1>
                <p>the admins lodge</p>
                <a href="/logout">logout</a>
            </div>
        </section>
<%- include ("partials/footer") -%>