<%- include ("partials/header") -%>
        <section class="create" id="create">
            <h1>create</h1>
            <form class="create" action="/create" method="post">
                <label>name of event</label>
                <input type="text" name="name" placeholder="name of event">
                <label>category of event</label>
                <input type="text" name="category" placeholder="category of event">
                <label>image of event</label>
                <input type="image" name="image" placeholder="image of event">
                <label>description of event</label>
                <input type="text" name="description" placeholder="description of event">
                <label>date of event</label>
                <input type="date" name="date" placeholder="date of event">
                <label>time of event</label>
                <input type="time" name="time" placeholder="time of event">
                <input type="submit" value="post">
                <!--<p>already have an account <a href="/login">sign in</a></p>-->
                <p>back to <a href="/">home</a></p>
            </form>
<!-- Yo this is for creating a ticket so you finish it
     I would have but I have more on my hand so please finish it.
    Plus you have to add some dynamic form field for the variation -->


    <!-- VARIATION
    
        This is a the types of tickets an organiser will sell at an event
    Basically, the classes of tickets and their prices. For examples, ie, these form field
                        name: VVIP
                        price: Ghc 1000
    so you can create multiple form fields with an add button 
    the fields above -->
        </section>
<%- include ("partials/footer") -%>