<%- include ("partials/header") -%>
        <section class="register" id="regsiter">
            <h1>sign up</h1>
            <form class="login" action="/register" method="post">
                <label>name</label>
                <input type="email" name="title" placeholder="your email">
                <label>category</label>
                <input type="email" name="category" placeholder="your email">
                <label>email</label>
                <input type="email" name="email" placeholder="your email">
                <label>description</label>
                <input type="email" name="description" placeholder="your email">
                <label>password</label>
                <input type="password" name="password" placeholder="your password">
                <input type="submit" value="sign up">
                <p>already have an account <a href="/login">sign in</a></p>
                <p>back to <a href="/">home</a></p>
            </form>
<!-- Yo this is for creating a ticket so you finish it
     I would have but I have more on my hand so please finish it.
    Plus you have to add some dynamic form field for the variation -->


    <!-- VARIATION
    
        This is a the types of tickets an organiser will sell at an event
    Basically, the classes of tickets and their prices. For examples, ie, these form field
                        name: VVIP
                        price: Ghc 1000
    so you can create multiple form fields with an add button 
    the fields above -->
        </section>
<%- include ("partials/footer") -%>